/*容器样式*/
.inner {
	width: 220px;
	height: 220px;
	box-sizing: border-box;
	overflow: auto;
	padding: 50px;
	margin: 50px;
	border: 10px solid indigo;
	text-align: center;
	background-color: lightseagreen;
	display: inline-block;
}
.outer {
	box-sizing: border-box;
	background-color: cornflowerblue;
	display: inline-block;
}

/*内容样式*/
.content {
	width: 100px;
	height: 100px;
	background-color: yellow;
}
p {
	color: white;
	position: absolute;
	font-size: 12px;
}

/*注释*/
#txt1 {
	top: 95px;
}
#txt2 {
	top: 130px;
	left: 60px;
}
#txt3 {
	top: 160px;
	left: 70px;
}