.siteicon{ background:url("../img/siteicon.png") top left no-repeat; display: inline-block;vertical-align: bottom; }
.s-cnbeta{ width:23px; height:24px; background-position:-10px -10px; }
.s-youku{ width:22px; height:23px; background-position:-10px -44px; }
.s-xinlang{ width:25px; height:23px; background-position:-10px -77px; }
.s-taobao{ width:25px; height:23px; background-position:-10px -110px; }
.s-baidu{ width:23px; height:23px; background-position:-10px -143px; }
.s-ymxk{ width:22px; height:22px; background-position:-10px -176px; }
.s-fenghuang{ width:25px; height:22px; background-position:-10px -208px; }
.s-xlw{ width:25px; height:22px; background-position:-10px -240px; }
.s-jd{ width:23px; height:22px; background-position:-10px -272px; }
.s-3dm{ width:25px; height:21px; background-position:-10px -304px; }
.s-verycd{ width:25px; height:21px; background-position:-10px -335px;}

