//button style
button{
    @extend html;
    outline: none;
}

.btn{
    width: 165px;
    height: 35px;
    cursor: pointer;
    border: none;
}
.btn-default{
    background: $majorColor;
    color: $white;
    &:hover{
        background: $secondColor;
        color: $white;
        @include autopre(transition,all 0.6s);
    }
}
.btn-outline{
    background: #f3fff6;
    color: $majorColor;
    border: 1px solid $majorColor;
       &:hover{
       @extend .btn-default:hover;
    }
}