//main_intro area stylesheet

.intro{
    position: absolute;
    right: 0;
    top: 0;
    width: 212px;
    height: $mainHeight;
    box-sizing: border-box;
    border: 1px solid $lightgray;
    .intro1{

        border-bottom: 1px solid $lightgray;
    }
    .intro-title {
        padding: 20px 0 10px 22px;
        font-size: 15px;
    }
    .intro-link {
        padding: 6px 0 10px 22px;
        span{
            color: $majorColor;
        }
        a{
            color: $majorColor;
            font-size: 12px;
            @include margin(right,4);
        }
    }
    .intro-btn {
        @include margin(top,13);
        @include margin(bottom,17);
        text-align: center;
    }
    
    .intro2{
        .intro-link2 {
            padding: 2px 0 1px 25px;
            a{
                font-size: 12px;
                color: $majorColor;
            }
        }
    }
}
