//main_carosel area stylesheet

.lb{
    clear: both;
    width: 568px;
    height: $mainHeight;
    border: 1px solid $lightgray;
    position: relative;
    left: 221px;
    overflow: hidden;
    @include  autopre(box-sizing,border-box);

    .lb-wrap {
        position: absolute;
        width: 5000px;
        left: 0;
        img{
            width: 568px;
            float: left;
        }
    }

    .lb-tabs {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        .lb-tab-item{
            display: inline-block;
            height: 30px;
            &:hover{
                cursor: pointer;
            }
            a{
                display: inline-block;
                background: $white;
                width: 40px;
                height: 3px;
                margin: 10px;
            }
        }
        .active a{
            background: $majorColor;
        }
    }

    .lb-arrow {
        position: absolute;
        z-index: 2;
        width: 100%;
        left: 0;
        top: 125px;
        opacity: 0;
        @include autopre(transition,all 0.8s);
        .icon-left-arrow {
            float: left;
        }
        .icon-right-arrow {
            float: right;
        }
        &:hover{
            cursor: pointer;
        }
    }

    &:hover>.lb-arrow {
        opacity: 0.8;
        @include autopre(transition,all 0.8s);
    }
}
