//school area stylesheet

.school-area{
   @include  autopre(box-sizing,border-box);
    border: 1px solid $lightgray;
    height: 180px;
    overflow: hidden;
    position: relative;

    .school-wrap {
        width: 5000px;
       @include margin(left,10);
        position: absolute;
        left: -980px;
        top: 20px;
    }
    .school-box {
        float: left;
        width: 140px;
        height: 140px;
        text-align: center;
        padding-top: 10px;
    }

    .school-arrow {
        width: 1000px;
        position: absolute;
        z-index: 2;
        opacity: 0;
        top: 60px;
        .icon-left-arrow {
            float: left;
        }
        .icon-right-arrow {
            float: right;
        }
    }
    &:hover>.school-arrow{
        @include autopre(transition,all 0.4s);
        opacity: 0.8;
    }















}
