//topheader stylesheet
.topheader-area {
  @include border(bottom,2,$secondColor);
}
.top-header {
  width: $pageWidth;
  margin: 0 auto;
  height: 70px;
  position: relative;
  text-align: center;
  @include  autopre(box-sizing,border-box);

  padding: 13px 0;
  .brand-logo {
    position: absolute;
    left: 0;
    width: 113px;
  }
  .s-area{
    display: inline-block;
    width: 380px;
    height: 36px;
    @include margin(top,2);
  }
  .s-box{
    float: left;
    width: 337px;
    height: 38px;
    border: 1px solid $lightgray;
    @include border(right,0);
    padding: 12px;
    @include  autopre(box-sizing,border-box);
    outline: none;
    &:focus+.s-btn{
      background: $majorColor;
    }
  }
  .s-btn{
    float: left;
    width: 38px;
    height: 38px;
    background: transparent;
    border: 1px solid $lightgray;
  }
  .register{
    position: absolute;
    right: 0;
    top: 23px;
    a{
      font-size: 12px;
    }
    .r-a{
      margin: 0 10px;
    }
    .r-last-a{
      @include margin(left,5);
    }
  }
}